---
layout: default
---

<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Logo -->
						<h1><a href="#" id="logo">{{ page.title }}</a></h1>

					{% include nav.html %}

					<!-- Banner -->
						<div id="banner">
							<div class="container">
								<section>
									<header class="major">
										<h2>Welcome to Northwestern Multicultural Dialogue!</h2>
										<!-- <h3><i>Northwestern's Public Speaking Club</i></h3> -->
									</header>
									<div class="image123">
    <div>
			<a href="Signup.html" class="button alt">Sign Up</a>
    </div><br>
  	<!-- <div>
				<a href="https://www.facebook.com/groups/886190904789415"><img src="{{ '/assets/images/facebookIcon.png' | prepend: site.baseurl }}" alt="" width="150px" hspace="15" vspace="20" /></a>
			</div> -->
</div>

								</section>
							</div>

						</div>

				</div>
			</div>

			<div class="wrapper style2">
				<section class="container">
					<header class="major">

						<span class="byline"><i>Northwestern Multicultural Dialogue is a student-led dialogue
							 group about multiculturalism at Northwestern! Northwestern is an endless source of
							 students from all across the globe.
							 Do not miss this opportunity to meet people outside of your lab/department
							  and to engage in meaningful conversations beyond schoolwork.
								Join the Multicultural Dialogue Group to connect with international students
								 and create opportunities for meaningful conversations about culture differences
								  with students from various countries.
 </i><br>
						<br>	We meet every Tuesday or Thursday from 6pm-8pm.</span>

					</header>
					<div class="row no-collapse-1">
						<section class="4u">
							<a href="Photos.html" class="magic-button" title="Many Nations, One Roof"><img src="{{ '/assets/images/1.jpg' | prepend: site.baseurl }}" alt="" height="232" width="290" hspace="15" vspace="20"></a>

						</section>
						<section class="4u">
								<a href="Photos.html" class="magic-button" title="Culture and Cuisine"><img src="{{ '/assets/images/5.jpg' | prepend: site.baseurl }}" alt="" height="232" width="290" hspace="15" vspace="20"></a>

						</section>
						<section class="4u">
							<a href="Photos.html" class="magic-button" title="Warm and Friendly Environment"><img src="{{ '/assets/images/3.jpg' | prepend: site.baseurl }}" alt="" height="232" width="290" hspace="15" vspace="20"></a>

						</section>

					</div>
				<!-- <div class="row no-collapse-2">

						<p align="center">We meet every Friday in Ford ITW from 4:45 pm - 6 pm.</p>

</div> -->
				</section>
			</div>

	{{ content }}
