.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.930664;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.893555;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.750000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.867676;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.242536,0.000000,-0.060634,0.242536,0,0);-ms-transform:matrix(0.242536,0.000000,-0.060634,0.242536,0,0);-webkit-transform:matrix(0.242536,0.000000,-0.060634,0.242536,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.ls7{letter-spacing:0.161376px;}
.lsd{letter-spacing:0.169248px;}
.ls5{letter-spacing:0.212544px;}
.ls8{letter-spacing:0.255840px;}
.lsb{letter-spacing:0.279456px;}
.ls1{letter-spacing:0.318816px;}
.ls6{letter-spacing:0.362112px;}
.ls3{letter-spacing:0.385728px;}
.lsa{letter-spacing:0.425088px;}
.ls2{letter-spacing:0.468384px;}
.lsc{letter-spacing:0.492000px;}
.lse{letter-spacing:0.574656px;}
.ls4{letter-spacing:0.598272px;}
.ls9{letter-spacing:11.434080px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.102080px;}
._2{width:1.271792px;}
._0{width:10.560000px;}
._3{width:11.969280px;}
._4{width:134.160000px;}
.fc1{color:rgb(34,34,34);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:35.520000px;}
.fs4{font-size:37.440000px;}
.fs0{font-size:39.360000px;}
.fs3{font-size:40.571359px;}
.fs1{font-size:48.000000px;}
.y50{bottom:2.399990px;}
.y1e{bottom:2.400000px;}
.y28{bottom:2.880000px;}
.y3e{bottom:3.600000px;}
.y3c{bottom:3.840000px;}
.y3b{bottom:5.280000px;}
.y2c{bottom:7.200000px;}
.y53{bottom:7.680000px;}
.yc{bottom:8.159900px;}
.y51{bottom:8.399990px;}
.y22{bottom:8.400000px;}
.yb{bottom:8.640000px;}
.y25{bottom:8.880000px;}
.y44{bottom:9.600000px;}
.yd{bottom:11.280000px;}
.y29{bottom:11.520000px;}
.y2b{bottom:11.760000px;}
.y1{bottom:12.000000px;}
.y1d{bottom:13.920000px;}
.y4f{bottom:14.399980px;}
.y21{bottom:14.400000px;}
.y9{bottom:20.159900px;}
.y27{bottom:20.640000px;}
.y4d{bottom:20.879980px;}
.y2f{bottom:22.320000px;}
.y30{bottom:23.760000px;}
.y1c{bottom:25.440000px;}
.y4a{bottom:26.160000px;}
.y24{bottom:26.400000px;}
.y4c{bottom:32.399980px;}
.y2e{bottom:33.840000px;}
.y1b{bottom:36.960000px;}
.y49{bottom:38.160000px;}
.y2d{bottom:45.120000px;}
.y1a{bottom:48.480000px;}
.y54{bottom:49.680020px;}
.y33{bottom:55.920000px;}
.y19{bottom:60.000000px;}
.y38{bottom:65.280000px;}
.y32{bottom:67.440000px;}
.y0{bottom:71.000000px;}
.y18{bottom:71.280000px;}
.y52{bottom:71.280010px;}
.y37{bottom:76.800000px;}
.y17{bottom:82.800000px;}
.y4b{bottom:88.800020px;}
.y16{bottom:94.320000px;}
.y15{bottom:105.840000px;}
.y4e{bottom:112.800000px;}
.y14{bottom:117.360000px;}
.y13{bottom:128.880000px;}
.y40{bottom:130.800000px;}
.y12{bottom:140.400000px;}
.y42{bottom:143.760000px;}
.y11{bottom:151.920000px;}
.y41{bottom:155.280000px;}
.y10{bottom:163.440000px;}
.y48{bottom:166.800000px;}
.yf{bottom:174.960000px;}
.y47{bottom:215.040000px;}
.y46{bottom:228.240000px;}
.y45{bottom:241.440000px;}
.y43{bottom:276.480000px;}
.y36{bottom:295.680000px;}
.y3f{bottom:319.680000px;}
.y3d{bottom:334.560000px;}
.y3a{bottom:349.200000px;}
.y39{bottom:364.080000px;}
.y31{bottom:382.080000px;}
.y35{bottom:406.080000px;}
.y34{bottom:441.120000px;}
.ye{bottom:459.120000px;}
.y2a{bottom:513.840000px;}
.y26{bottom:535.200000px;}
.y23{bottom:565.440000px;}
.y20{bottom:601.680000px;}
.y1f{bottom:625.680000px;}
.ya{bottom:643.680000px;}
.y8{bottom:643.680100px;}
.y7{bottom:664.320000px;}
.y6{bottom:678.000000px;}
.y5{bottom:692.640000px;}
.y4{bottom:707.040000px;}
.y3{bottom:718.560000px;}
.y2{bottom:730.080000px;}
.h22{height:12.720000px;}
.h1e{height:14.160000px;}
.h1d{height:14.399990px;}
.h28{height:16.800000px;}
.h17{height:17.519960px;}
.h1c{height:17.519990px;}
.hc{height:17.520020px;}
.h20{height:18.720000px;}
.h12{height:20.879940px;}
.h1a{height:23.519990px;}
.hd{height:23.520020px;}
.h10{height:26.233594px;}
.h9{height:26.640000px;}
.h7{height:26.675625px;}
.ha{height:27.040969px;}
.hf{height:27.329063px;}
.h3{height:27.348281px;}
.h6{height:29.279910px;}
.h8{height:29.279970px;}
.h11{height:29.760010px;}
.h5{height:32.531250px;}
.h19{height:34.559970px;}
.h21{height:34.559980px;}
.h18{height:34.560000px;}
.h4{height:35.343750px;}
.h25{height:35.520000px;}
.he{height:35.520020px;}
.h26{height:41.519990px;}
.h27{height:41.520000px;}
.h23{height:47.759980px;}
.h24{height:47.759990px;}
.h13{height:54.239960px;}
.h14{height:54.239990px;}
.h16{height:76.559970px;}
.h15{height:76.560000px;}
.h1b{height:85.920010px;}
.h1f{height:164.400000px;}
.hb{height:184.080000px;}
.h1{height:676.000000px;}
.h2{height:768.000000px;}
.h0{height:792.000000px;}
.w7{width:51.119980px;}
.w6{width:51.119990px;}
.w3{width:51.120000px;}
.w5{width:64.319980px;}
.w4{width:404.640000px;}
.w8{width:469.200000px;}
.w1{width:522.000000px;}
.w2{width:588.000000px;}
.w0{width:612.000000px;}
.x7{left:5.520000px;}
.x1{left:12.000000px;}
.xd{left:19.020000px;}
.x9{left:20.641600px;}
.xa{left:28.419900px;}
.x0{left:40.000000px;}
.xc{left:41.520000px;}
.x2{left:78.000000px;}
.x8{left:92.160000px;}
.x3{left:102.479990px;}
.x5{left:180.766390px;}
.x4{left:291.359990px;}
.x6{left:294.000000px;}
.xb{left:497.040000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls7{letter-spacing:0.215168pt;}
.lsd{letter-spacing:0.225664pt;}
.ls5{letter-spacing:0.283392pt;}
.ls8{letter-spacing:0.341120pt;}
.lsb{letter-spacing:0.372608pt;}
.ls1{letter-spacing:0.425088pt;}
.ls6{letter-spacing:0.482816pt;}
.ls3{letter-spacing:0.514304pt;}
.lsa{letter-spacing:0.566784pt;}
.ls2{letter-spacing:0.624512pt;}
.lsc{letter-spacing:0.656000pt;}
.lse{letter-spacing:0.766208pt;}
.ls4{letter-spacing:0.797696pt;}
.ls9{letter-spacing:15.245440pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.469440pt;}
._2{width:1.695723pt;}
._0{width:14.080000pt;}
._3{width:15.959040pt;}
._4{width:178.880000pt;}
.fs2{font-size:47.360000pt;}
.fs4{font-size:49.920000pt;}
.fs0{font-size:52.480000pt;}
.fs3{font-size:54.095146pt;}
.fs1{font-size:64.000000pt;}
.y50{bottom:3.199987pt;}
.y1e{bottom:3.200000pt;}
.y28{bottom:3.840000pt;}
.y3e{bottom:4.800000pt;}
.y3c{bottom:5.120000pt;}
.y3b{bottom:7.040000pt;}
.y2c{bottom:9.600000pt;}
.y53{bottom:10.240000pt;}
.yc{bottom:10.879867pt;}
.y51{bottom:11.199987pt;}
.y22{bottom:11.200000pt;}
.yb{bottom:11.520000pt;}
.y25{bottom:11.840000pt;}
.y44{bottom:12.800000pt;}
.yd{bottom:15.040000pt;}
.y29{bottom:15.360000pt;}
.y2b{bottom:15.680000pt;}
.y1{bottom:16.000000pt;}
.y1d{bottom:18.560000pt;}
.y4f{bottom:19.199973pt;}
.y21{bottom:19.200000pt;}
.y9{bottom:26.879867pt;}
.y27{bottom:27.520000pt;}
.y4d{bottom:27.839973pt;}
.y2f{bottom:29.760000pt;}
.y30{bottom:31.680000pt;}
.y1c{bottom:33.920000pt;}
.y4a{bottom:34.880000pt;}
.y24{bottom:35.200000pt;}
.y4c{bottom:43.199973pt;}
.y2e{bottom:45.120000pt;}
.y1b{bottom:49.280000pt;}
.y49{bottom:50.880000pt;}
.y2d{bottom:60.160000pt;}
.y1a{bottom:64.640000pt;}
.y54{bottom:66.240027pt;}
.y33{bottom:74.560000pt;}
.y19{bottom:80.000000pt;}
.y38{bottom:87.040000pt;}
.y32{bottom:89.920000pt;}
.y0{bottom:94.666667pt;}
.y18{bottom:95.040000pt;}
.y52{bottom:95.040013pt;}
.y37{bottom:102.400000pt;}
.y17{bottom:110.400000pt;}
.y4b{bottom:118.400027pt;}
.y16{bottom:125.760000pt;}
.y15{bottom:141.120000pt;}
.y4e{bottom:150.400000pt;}
.y14{bottom:156.480000pt;}
.y13{bottom:171.840000pt;}
.y40{bottom:174.400000pt;}
.y12{bottom:187.200000pt;}
.y42{bottom:191.680000pt;}
.y11{bottom:202.560000pt;}
.y41{bottom:207.040000pt;}
.y10{bottom:217.920000pt;}
.y48{bottom:222.400000pt;}
.yf{bottom:233.280000pt;}
.y47{bottom:286.720000pt;}
.y46{bottom:304.320000pt;}
.y45{bottom:321.920000pt;}
.y43{bottom:368.640000pt;}
.y36{bottom:394.240000pt;}
.y3f{bottom:426.240000pt;}
.y3d{bottom:446.080000pt;}
.y3a{bottom:465.600000pt;}
.y39{bottom:485.440000pt;}
.y31{bottom:509.440000pt;}
.y35{bottom:541.440000pt;}
.y34{bottom:588.160000pt;}
.ye{bottom:612.160000pt;}
.y2a{bottom:685.120000pt;}
.y26{bottom:713.600000pt;}
.y23{bottom:753.920000pt;}
.y20{bottom:802.240000pt;}
.y1f{bottom:834.240000pt;}
.ya{bottom:858.240000pt;}
.y8{bottom:858.240133pt;}
.y7{bottom:885.760000pt;}
.y6{bottom:904.000000pt;}
.y5{bottom:923.520000pt;}
.y4{bottom:942.720000pt;}
.y3{bottom:958.080000pt;}
.y2{bottom:973.440000pt;}
.h22{height:16.960000pt;}
.h1e{height:18.880000pt;}
.h1d{height:19.199987pt;}
.h28{height:22.400000pt;}
.h17{height:23.359947pt;}
.h1c{height:23.359987pt;}
.hc{height:23.360027pt;}
.h20{height:24.960000pt;}
.h12{height:27.839920pt;}
.h1a{height:31.359987pt;}
.hd{height:31.360027pt;}
.h10{height:34.978125pt;}
.h9{height:35.520000pt;}
.h7{height:35.567500pt;}
.ha{height:36.054626pt;}
.hf{height:36.438750pt;}
.h3{height:36.464375pt;}
.h6{height:39.039880pt;}
.h8{height:39.039960pt;}
.h11{height:39.680013pt;}
.h5{height:43.375000pt;}
.h19{height:46.079960pt;}
.h21{height:46.079973pt;}
.h18{height:46.080000pt;}
.h4{height:47.125000pt;}
.h25{height:47.360000pt;}
.he{height:47.360027pt;}
.h26{height:55.359987pt;}
.h27{height:55.360000pt;}
.h23{height:63.679973pt;}
.h24{height:63.679987pt;}
.h13{height:72.319947pt;}
.h14{height:72.319987pt;}
.h16{height:102.079960pt;}
.h15{height:102.080000pt;}
.h1b{height:114.560013pt;}
.h1f{height:219.200000pt;}
.hb{height:245.440000pt;}
.h1{height:901.333333pt;}
.h2{height:1024.000000pt;}
.h0{height:1056.000000pt;}
.w7{width:68.159973pt;}
.w6{width:68.159987pt;}
.w3{width:68.160000pt;}
.w5{width:85.759973pt;}
.w4{width:539.520000pt;}
.w8{width:625.600000pt;}
.w1{width:696.000000pt;}
.w2{width:784.000000pt;}
.w0{width:816.000000pt;}
.x7{left:7.360000pt;}
.x1{left:16.000000pt;}
.xd{left:25.360000pt;}
.x9{left:27.522133pt;}
.xa{left:37.893200pt;}
.x0{left:53.333333pt;}
.xc{left:55.360000pt;}
.x2{left:104.000000pt;}
.x8{left:122.880000pt;}
.x3{left:136.639987pt;}
.x5{left:241.021853pt;}
.x4{left:388.479987pt;}
.x6{left:392.000000pt;}
.xb{left:662.720000pt;}
}
